<div class="profile-div">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 p-2">
        <img style="cursor: pointer;" title="close profile bar" (click)="closeProfileBar()" class="img-fluid"
          src="assets/right-arrow.png">
      </div>
      <div class="col-md-6 p-2 text-end">
        <img class="img-fluid" src="assets/teams-icon.png">
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <img class="img-fluid" src="assets/profile.png">
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 p-3">
        <h5 style="color: #002964;">Admin</h5>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 p-3">
        <h5>Mail ID:</h5>
        <span style="word-wrap: break-word;">kunal.gupta@celebaltech.com</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5>Admin Mail ID:</h5>
        <span>admin@gmail.com</span>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-12">
        <span>
          <span> <img class="img-fluid" src="assets/support.png"></span>
          Support
        </span>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-12">
        <img class="img-fluid" src="assets/call.png">
      </div>
    </div>
  </div>
</div>
