<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <img class="img-fluid" src="assets/logo.png">
      <span class="ms-2" style="color: rgba(72, 114, 171, 1); font-size: 1.2rem; font-weight: 600;">SMART</span>
    </div>
  </div>
  <div class="row navigation-div pt-3">
    <div class="col-md-12">
      <div class="row p-3 hover-div ">
        <div class="col-md-12">
          <a><img class="img-fluid me-2" src="assets/home-logo.png">Home</a>
        </div>
      </div>
      <div class="row p-3 hover-div">
        <div class="col-md-12">
          <a><img class="img-fluid me-2" src="assets/deployment-logo.png">Deployment</a>
        </div>
      </div>
      <div class="row p-3 hover-div">
        <div class="col-md-12">
          <a><img class="img-fluid me-2" src="assets/network-logo.png">Network</a>
        </div>
      </div>
      <div class="row p-3 hover-div">
        <div class="col-md-12">
          <a><img class="img-fluid me-2" src="assets/network-logo.png">Resource Status Board</a>
        </div>
      </div>
      <div class="row p-3 hover-div">
        <div class="col-md-12">
          <a><img class="img-fluid me-2" src="assets/network-logo.png">Resource Monitoring</a>
        </div>
      </div>
      <div class="row p-3 hover-div">
        <div class="col-md-12">
          <a><img class="img-fluid me-2" src="assets/network-logo.png">Azure Recommendation</a>
        </div>
      </div>
      <div class="row p-3 hover-div">
        <div class="col-md-12">
          <a><img class="img-fluid me-2" src="assets/network-logo.png">Cost Monitoring</a>
        </div>
      </div>
      <div class="row p-3 hover-div">
        <div class="col-md-12">
          <a><img class="img-fluid me-2" src="assets/network-logo.png">Devops</a>
        </div>
      </div>
      <div class="row p-3 hover-div">
        <div class="col-md-12">
          <a><img class="img-fluid me-2" src="assets/network-logo.png">Admin</a>
        </div>
      </div>
      <div class="row p-3 hover-div">
        <div class="col-md-12">
          <a><img class="img-fluid me-2" src="assets/network-logo.png">Budget Management</a>
        </div>
      </div>
    </div>
  </div>
</div>
